<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="Main" connectionString="Data Source=.;Initial Catalog=Sijjel09022018;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <appSettings>
    <add key="207Idere" value="C:\bh423\pcl6"/>
    <add key="206Dourous" value="C:\bh423"/>
    <add key="206Idere" value="D:\Sijjel Doc"/>
    <add key="temp" value="D:\temp"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <!--<add key="reportpath" value="D:\Projects\RegistryProject\WFRegistryApp\Reports\"/>-->
    <add key="reportpath" value="D:\Projects\RegistryProject\WFRegistryApp\Reports\"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
